.section1 {
    background-color: var(--fourth-blue);
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    align-content: center;
    min-height: calc(100vh - 80px);
}

.section1 > a:last-child {
    color: white;
    justify-self: center;
    column-span: all;
    position: absolute;
    align-self:flex-end;
    padding-bottom: 2rem;
}

.section1 > div:nth-child(1) {
    padding: 1rem 4rem 1rem 15rem;
    color: white;
    text-align: center;
}

.section1 > div:nth-child(1) h1 {
    font-size: 4rem;
    margin: 0;
}

.section1 > div:nth-child(1) p {
    color: var(--primary-blue);
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
}

.section1 > div:nth-child(2) {
    padding: 3rem 4rem;
    width: 70%;
    justify-self: flex-start;
}

.blueUnderline {
    text-decoration: underline;
    text-decoration-color: var(--secondary-blue);
    color: var(--secondary-blue);
}

.lightblueUnderline {
    text-decoration: underline;
    text-decoration-color: var(--primary-blue);
    color: var(--primary-blue);
}

.founder {
    font-weight: bold;
    font-size: 1.2rem;
}

/** SECTION 2 **/
.section2 {
    padding: 1rem;
    padding-bottom: 5rem;
    background-color: var(--fourth-blue);
    color: var(--fourth-blue);
}

.section2 .intro {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: space-around;
    grid-gap: 2rem;
}

.section2 .intro p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    max-width: 350px;
}

.section2 .intro > div:nth-child(2) {
    width: 450px;
}

.section2 p, .section2 h1, .section2 h3 {
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
    width: fit-content;
}

.section2 h1 {
    margin-left: auto;
    font-size: 3.6rem;
    padding: 10px 20px;
}

.section2 h3 {
    margin-bottom: 0;
    font-size: 1.3rem;
}

.section2 .timeline p, .section2 .timeline h3 {
    margin: 0
}

.section2 .timeline p{
    font-family: "Montserrat" !important;
    font-size: 1.2rem;
    line-height: 1.2;
}

.section2 .timeline h3{
    font-family: "Montserrat" !important;
}

.section2 .timelineLeft {
    display: grid;
    justify-items: flex-end;
    text-align: left;
    margin-left: auto;
    max-width: 400px;
}

.section2 .timelineRight {
    display: grid;
    text-align: left;
    margin-right: auto;
    max-width: 400px;
    margin-bottom: 3rem;
}

.section2 .futureLearning {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

/** SECTION 3 **/
.section3 {
    background-color: var(--fourth-blue);
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    padding-bottom: 3rem;
    min-height: 100vh;
    align-content: center;
}

.section3 > a:last-child {
    position: absolute;
    align-self: flex-end;
    justify-self: center;
    color: white;
}

.section3 > div:nth-child(1) {
    padding: 1rem 4rem 1rem 15rem;
    color: white;
    text-align: center;
}

.section3 > div:nth-child(1) h1 {
    font-size: 4rem;
    margin: 0;
}

.section3 > div:nth-child(1) p, .section3 h3 {
    color: var(--primary-blue);
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.section3 > div:nth-child(1) p {
    font-size: 1.4rem;
    font-weight: 600;
}

.section3 > div:nth-child(1) h3 {
    font-weight: bold;
    font-size: 2rem;
}

.section3 > div:nth-child(2) {
    width: 70%;
    justify-self: flex-start;
}

.darkblue {
    color: var(--secondary-blue);
}

.underline {
    text-decoration: underline;
}

/** SECTION 4 **/
.section4 {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: white;
    justify-content: center;
    text-align: center;
    padding: 3rem 4rem;
    padding-top: 0rem;
    align-items: center;
    color: var(--blue);
}

.section4 > div > span {
    height: 350px !important;
}

.section4 h2 {
    font-size: 3.7rem;
    margin-bottom: 1rem;
}

.section4 p {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.section4 a {
    font-weight: bold;
    background-color: var(--primary-blue);
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    font-size: 1.6rem;
}

/** SECTION 7 **/
.section5 {
    color: white;
    background-color: var(--secondary-blue);
    padding: 3rem;
}

.section5 p, .section5 h3, .section5 h4 {
    text-align: center;
}
  
  .section5 p {
      font-size: 1.2rem;
      margin: 0;
      
  }
  
  .section5 h3 {
      font-weight: bold;
      font-size: 2.5rem;
      margin: 0;
      text-decoration: underline;
  }
  
  .section5images {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    padding-top: 2rem;
  }
  
    .section5images a:nth-child(odd) {
    margin-top:4rem;
    transform: scale(0.8);
    }

    .section5images a {
    transition: 0.3s;
    }

    .section5images a:nth-child(odd):hover {
    transform: scale(0.9);
    }

    .section5images a:hover {
    transform: scale(1.1);
    }

/** Section 6 **/
.section6 {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-items: center;
    padding: 3rem 10rem;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    background-color: var(--primary-blue);
    grid-gap: 10rem;
    white-space: break-spaces;
}

.section6 > div:nth-child(1) {
    max-height: 20rem;
    overflow: hidden;
}

/* @media only screen and (max-width: 640px) { */
@media only screen and (max-width: 768px) {
    .section1, .section2, .section3, .section4, .section5, .section6 {
        grid-auto-flow: row;
        grid-template-columns: none;
    }

    .section1, .section2, .section3, .section3 > div, .section4, .section4 > div, .section5, .section6 > div {
        padding: 1rem;
    }

    /** SECTION 1 **/
    .section1 {
        justify-items: center;
    }

    .section1 > div:nth-child(1) h1 {
        margin-top: 30px;
        font-size: 2rem;
    }
    .section1 > div:nth-child(1) h2 {
        margin: 20px 0;
        font-size: 1.2rem;
    }
    .section1 > div:nth-child(1) p {
        font-size: 0.88rem;
    }
    .section1 div:nth-child(1), .section1 div:nth-child(2) {
        padding: 0;
    }

    .section1 div:nth-child(2) {
        margin-top: 20px;
        justify-self: unset;
        width: 60%;
    }
    .section1 a {
        position: static !important;
        margin-top: 10px;
    }
    .section1 a svg {
        font-size: 2em ;
    }

    /** SECTION 2 **/
    .section2 div:nth-child(1) > div:nth-child(1) h1{
        font-size: 2rem;
        margin: 10px auto 0 auto;
    }
    .section2 div:nth-child(1) > div:nth-child(1) p{
        font-size: 0.88rem;
        margin: 15px auto 15px auto;
    }
    .section2 .intro {
        grid-auto-flow: row;
        grid-template-columns: none;
    }

    .section2 h1 {
        font-size: 3rem;
    }

    .section2 .intro > div:nth-child(2) {
        width: 70%;
        margin: 20px auto 50px auto;
    }

    .section2 .timeline h3{
        font-family: "Montserrat" !important;
        font-size: 0.88rem;
    }

    .section2 .timeline p{
        font-family: "Montserrat" !important;
        font-size: 0.8rem;
        margin-top: 10px;
        line-height: 1.2;
    }
    
    .section2 .timeline ul li p {
        font-size: 0.8rem;
    }
    .section2 .timeline ul li::before {
        content: none;
    }

    .section2 p:last-child{
        font-size: 0.88rem;
    }

    /** SECTION 3 **/
    .section3 div:nth-child(1){
        padding: 0;
    }
    .section3 div:nth-child(1) h1{
        font-size: 2rem;
        margin: 50px 0 0 0;
    }
    .section3 div:nth-child(1) h2{
        font-size: 1.2rem;
        margin: 10px 0 15px 0;
    }
    .section3 div:nth-child(1) h3{
        font-size: 1rem;
        margin: 10px 0;
    }
    .section3 div:nth-child(1) p{
        font-size:0.88rem;
        margin: 10px 0 20px 0;
    }
    
    .section3 div:nth-child(2){
        display: none;
    }
    .section3 a:last-child {
       position: static;
    }
    .section3 a:last-child svg{
        font-size: 2em;
    }

    /** SECTION 4 **/
    .section4 {
        justify-items: center;
    }
    .section4 div:nth-child(1){
        width: 320px;
    }
    .section4 div:nth-child(2) h2{
        font-size: 1.8rem;
    }
    .section4 div:nth-child(2) p{
        font-size: 0.88rem;
    }
    .section4 div:nth-child(2) a{
        font-size: 1rem;
    }

    .section4 div:nth-child(3){
        width: 50%;
    }


    /** SECTION 5 **/
    .section5 p {
        font-size: 0.88rem;
    }
    .section5 a h3 {
        font-size: 1.2rem;
        margin: 10px 0;
    }
    .section5 h4 {
        font-size: 0.88rem;
    }
    .section5images {
        padding-top: 2rem;
        text-align: center;
    }
   
    .section5images > div {
        width: 100%;
    }

    .section5images > a:nth-child(odd) {
        margin: 0;
    }

    .section5 .section5images > a {
        transform: scale(1);
    }
    .section5 .section5images > a div img {
        max-width: 90px;
        max-height: 90px;
    }

    /** SECTION 6 **/
    .section6 {
        padding: 1rem;
        grid-gap: 0;
        grid-template-columns: none;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }

    .section6 > div:nth-child(1) {
        width: 100px;
    }
    .section6 > p {
       font-size: 0.88rem;
    }
}