.demo2 {
    color: white;
    background-color: var(--secondary-blue);
    display: grid;
    justify-items: center;
    background-color: var(--primary-blue);
    padding: 30px;
}

.demo2 h1, .demo2 h2, .demo2 p {
    text-align: center;
    margin-bottom: 50px;
}

.demo2 p {
    max-width: 450px;
}

.underline {
    text-decoration: underline;
}

.form {
    display: grid;
    margin-bottom: 2rem;
    width: 500px;
}

.form input {
    margin-bottom: 1rem;
}

.form label {
    margin-top: 1rem;
}

.form button {
    background-color: var(--third-blue);
    width: 50%;
    border: none;
    color: var(--secondary-blue);
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 auto;
    border-radius: 5px;
    padding: 1rem 1rem;
    
}

.form button:hover {
    cursor: pointer;
    transition: 300ms;
    background-color: var(--primary-blue);
    color: var(--secondary-blue);
    background-color: white;
}

.form input, .form textarea, .form select{
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--primary-blue);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--secondary-blue);
  font-size: large;
  background-color: white;
}

.form input:focus-visible, .form textarea:focus-visible, .form select:focus-visible{
  appearance: none;
  border: none;
  outline: none;
}

.form textarea {
    margin-bottom: 1rem;
    height: 100px;
}

.form textarea::placeholder {
    color: var(--secondary-blue);
}

.form input::placeholder {
    color: var(--secondary-blue);
    font-size: 14px;
}

/** Section 8 **/
.section8 {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-items: center;
    padding: 3rem 10rem;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    background-color: var(--primary-blue);
    grid-gap: 10rem;
}

.section8 > div:nth-child(1) {
    max-height: 20rem;
    overflow: hidden;
}

/* @media only screen and (max-width: 640px) { */
@media only screen and (max-width: 768px) {
    .section8 {
        padding: 1rem;
        grid-gap: 0;
        grid-template-columns: none;
        font-size: 1.5rem;
        width: 100%;
    }

    .section8 > div:nth-child(1) {
        width: 100px;
    }

    .demo2 h1, .demo2 h2, .demo2 p {
        padding: 0 1rem;
    }

    .form {
        width: 100%;
    }
}