.header {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	padding: 0.5rem 2rem;
	max-width: 1440px;
	margin: 0 auto;
}

.navLeft {
	display: grid;
	grid-template-columns: 100px auto;
	grid-gap: 1rem;
	align-items: center;
}

.navRight {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	/* grid-template-columns: 2fr 1fr; */
}

.login {
	justify-self: flex-end;
	color: var(--secondary-blue);
	text-transform: capitalize;
	font-weight: bold;
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.demo {
	color: white;
	background-color: var(--primary-blue);
	 width: fit-content;
	padding: 0.5em 2em;
	border-radius: 25px;
	font-weight: bold;
}

.demo:hover {
	background-color: var(--secondary-blue);
	transition: 200ms;
}

.phoneContact {
	color: var(--secondary-blue);
	font-weight: bold;
}

/* @media only screen and (max-width: 640px) { */
@media only screen and (max-width: 768px) {
	.header {
	  position: sticky;
	  top: 0;
	  z-index: 2;
	  background-color: white;
	  grid-auto-flow: row;
	}

	.navLeft {
		grid-template-columns: none;
		grid-auto-flow: column;
		justify-items: center;
	}
	
	.navLeft > a {
		width: 25%;
		justify-self: flex-start;
	}
	
	.navRight {
		display: none;
		position: absolute;
		padding: inherit;
		right: 0;
		top: 10px;
		grid-template-columns: none;
		column-gap: 1rem;
	}
}