.section1 {
  min-height: calc(100vh - 80px);
  background-color: var(--primary-blue);
  color: white;
  padding: 3rem 2rem 3.5rem 2rem;
  display: grid;
  justify-items: center;
  align-content: center;
}

.section1 > a:last-child {
  align-self: flex-end;
  /* position: absolute; */
}

.section1 ul{
  list-style: none;
  padding-left: 0;
}

.section1 li {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  align-items: center;
  max-width: fit-content;
}

.section1 h1 {
  font-size: 3.4rem;
  margin-top: 0;
}

.section1 li, .section1 h3 {
  font-size: 1.6rem;
}

.section1 li {
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.section2 {
  display: grid;
  grid-auto-flow: column;
}

.section2 div:nth-child(1) {
  background-color: var(--fourth-blue);
  color: white;
}

.section2 div:nth-child(2) {
  color: var(--secondary-blue);
}

.section2 div:nth-child(3) {
  background-color: var(--blue);
  color: white;
}

.section4, .section5, .section6, .twoColumn, .moreInfo {
  display: grid;
  grid-auto-flow: column;
}

.twoColumn {
  align-items: center;
  max-width: 1440px;
}

.twoColumn div:nth-child(1) {
  justify-self: center;
}

.twoColumn div:nth-child(2) {
  justify-self: flex-start;
  max-width: 450px;

}

.moreInfo {
  grid-gap: 1rem;
  align-items: center;
}
.moreInfo a:first-of-type {
  justify-self: flex-end;
  background-color: #494f56;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.6rem;
}

.moreInfo a:first-of-type:hover {
  filter: brightness(150%);
  transition: 300ms;
}

/** SECTION 3 **/
.section3row1 {
  display: grid;
  grid-template-columns: 34% 66%;
  min-height: 40vh;
}

.section3row1 > div:nth-child(2){
  background-color: white;
  color: var(--blue);
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-auto-flow: column;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  grid-column-gap: 5rem;
}

.section3row1 > div:nth-child(2) > div:nth-child(1) {
  width: 300px;
}

.section3row1 > div:nth-child(2) > div:nth-child(2) {
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
  max-width: 400px;
}

.section3row1 > div:nth-child(2) > div:nth-child(2) p{
  padding-bottom: 1.4rem;
}

.section3row1 > div:nth-child(2) > div:nth-child(2) a {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.6rem;
  background-color: var(--fourth-blue);
  color: white;
}

.section3row1 > div:nth-child(2) > div:nth-child(2) a:hover {
  filter: brightness(150%);
  transition: 300ms;
}

.section3row1 > div:nth-child(1){
  padding: 1rem;
  font-weight: bold;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section3 .secondary {
  color: var(--secondary-blue)
}

.section3 .primary {
  color: var(--primary-blue)
}

.section3row2 {
  display: grid;
  grid-auto-flow: column;
}

.section3row2 > div:nth-child(2){
  background-color: white;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  padding: 1rem;
  font-weight: bold;
  color: var(--secondary-blue);
  text-align: center;
  font-size: 1.5rem;
}

.section3row2 > div:nth-child(2) > span{
  max-width: 500px !important;
}

.section3row2 > div:nth-child(2) div:first-of-type{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.4;
}

.underline {
  text-decoration: underline;
}

.buttonStyle {
  background-color: var(--primary-blue);
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: fit-content;
  padding: 10px 20px;
}

.buttonStyle:hover {
  filter: brightness(120%);
  transition: 300ms;
}

.section3row2 > div:nth-child(2) a {
  background-color: var(--primary-blue);
  color: white;
  font-size: 1.6rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: fit-content;
  padding: 10px 20px;
}

.section3row2 > div:nth-child(2) a:hover {
  background-color: var(--secondary-blue);
  transition: 300ms;
}

.section3row2 div:nth-child(1){
  background-color: var(--blue);
  display: grid;
  grid-auto-flow: column;
  padding: 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.4;
}

.section3row2 div:nth-child(1) > span{
  max-width: 350px !important;
}

.section3row2 div:nth-child(1) span{
  font-size: 2.6rem;
  font-weight: bold;
}

.section3row2 div:nth-child(1) span.underline{
  text-decoration: underline;
  font-size: 3rem;
}

/** SECTION 4 **/
.section4 {
  grid-template-columns: 50% 50%;
  font-weight: bold;
  font-size: 2.37rem;
}

.section4 .mainHeading, .section5 .mainHeading, .section6 .mainHeading {
  font-size: 5rem;
  font-weight: bold;
}

.section4 .mainHeading {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.section4Terms {
  padding-top: 0.5rem;
  font-size: 0.7rem;
  font-weight: normal;
}

.primaryText {
  color: var(--primary-blue);
}

.darkText {
  color: var(--blue);
  font-size: 3rem;
  margin-top: 1rem;
}

.section4 > div {
  padding: 1rem;
  display: flex;
}

.section4 > div:nth-child(1) {
  background-color: var(--third-blue);
  color: var(--secondary-blue);
  position: relative;
}

.section4 > div:nth-child(1) > div {
  width: 600px;
  margin-left: auto;
}

.learnt {
  position: absolute;
  font-size: 1.8rem;
}

.section4 > div:nth-child(2) {
  background-color: var(--secondary-blue);
  color: white;
  padding-left: 88px;
}

.section4 > div:nth-child(2) svg {
  color: #6cddaa;
}

/** SECTION 5 **/
.section5 {
  grid-template-columns: 50%;
  align-items: stretch;
  font-weight: bold;
  color: var(--blue);
  font-size: 2rem;
}

.section5 .mainHeading {
  margin-bottom: 0;
  margin-top: 1rem;
}

.section5 .learnt {
  position: relative;
}

.section5 > div {
  padding: 1rem;
  display: flex;
}

.section5 > div:nth-child(1){
  position: relative;
}

.section5 > div:nth-child(1) div p:nth-child(3) {
  font-weight: normal;
  margin-top: 0;
}

.section5 > div:nth-child(1) > div {
  width: 600px;
  margin-left: auto;
  padding-bottom: 3rem;
}

.section5 > div:nth-child(2){
  padding: 3rem;
  background-color: var(--blue);
  color: white;
  text-align: center;
  font-size: 1.1rem;
  display: grid;
  justify-items: center;
}

.section5 > div:nth-child(2) > span {
  max-width: 75% !important;
}

.section5 > div:nth-child(2) p{
  width: 70%;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-top: 3rem;
}

.section5 .supportText {
  text-decoration: underline;
  color: var(--primary-blue);
}

/** SECTION 6 **/
.section6 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50%;
  font-size: 1.5rem;
}

.section6 p {
  line-height: 1.4;
  margin-top: 0;
  max-width: 500px;
}

.section6 > div {
  padding: 2rem 2rem;
}

.section6 > div:nth-child(1) {
  color: var(--secondary-blue);
  display: grid;
  grid-auto-flow: row;
  align-items: center;
}

.section6 > div:nth-child(1) > div:nth-of-type(1) {
  width: 100%;
  /* width: 350px; */
  justify-self: center;
}

.section6 > div:nth-child(1) .buttonStyle {
  height: fit-content;
  align-self: flex-end;
}

.section6 > div:nth-child(2) {
  background-color: var(--blue);
  color: white;
  display: grid;
}

.section6 > div:nth-child(2) > div:first-of-type {
  width: 55%;
  max-width: 500px;
  justify-self: flex-end;
}

.section6 .mainHeading {
  font-size: 3rem;
  margin: 0;
  line-height: 1;
}

.section6 > div:nth-child(2) .mainHeading {
  padding-bottom: 3rem;
}

/** SECTION 7 **/
.section7 {
  background-color: var(--secondary-blue);
  color: white;
  padding: 3rem;
  text-align: center;
}
  
.section7 p {
  font-size: 1.2rem;
  margin: 0;
}

.section7 h3 {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.section7images {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
  padding-top: 2rem;
}

.section7images a:nth-child(odd) {
  margin-top:4rem;
  transform: scale(0.8);
}

.section7images a {
  transition: 0.3s;
}

.section7images a:nth-child(odd):hover {
  transform: scale(0.9);
}

.section7images a:hover {
  transform: scale(1.1);
}


/* @media only screen and (max-width: 640px) { */
@media only screen and (max-width: 768px) {

  .section1 {
    /* padding: 0rem 2rem 8rem 2rem; */
  }
  .section1 .twoColumn h1 {
		font-size: 1.8rem;
    margin-bottom: 15px;
	}

	.section1 .twoColumn ul {
    margin: 20px 0;
  }
    .section1 .twoColumn li {
		font-size: 0.9rem;
	}
	.section1 .twoColumn h3 {
		font-size: 1rem;
    margin-bottom: 15px;
	}
  .section1 .moreInfo{
    margin: 20px 0 0 0;
  }
	.section1 .moreInfo a{
		font-size: 1rem;
	}
  .section1 > a:last-child svg {
    margin-top: 0.5rem;
    font-size: 2em;
  }
  

  .section2, .section3row1, .section3row2, .section4, .section5, .section6 {
    grid-auto-flow: row;
    grid-template-columns: none;
  }
  .section3row1 > div, .section3row2 > div, .section4 > div, .section5 > div, .section6 > div {
    padding: 2rem 1rem;
  }

  .section4 > div:nth-child(1) > div, .section5 > div:nth-child(1) > div {
    width: 100%;
  }

  .section4 .mainHeading, .section5 .mainHeading {
    font-size: 3rem;
  }

  .moreInfo a:first-of-type {
    justify-self: unset;
  }

  .moreInfo {
    grid-auto-flow: row;
    justify-items: center;
  }

  /** SECTION 1 **/
  .section1 h3 {
    text-align: center;
  }

  /** SECTION 2 **/

  .twoColumn {
    grid-template-columns: unset;
  }

  .twoColumn div:nth-child(2) {
    display: none;
  }

  /** SECTION 3 **/
  .section3row1 > div:nth-child(2) > div:nth-child(1) {
    width: 65%;
  }

  .section3row1 > div:nth-child(1) {
    font-size: 1.6rem;
  }

  .section3row1 > div:nth-child(2) {
    grid-auto-flow: row;
    padding-top: 2rem;
  }

  .section3row2 > div:nth-child(1) {
    grid-auto-flow: row;
  }

  .section3row1 > div:nth-child(2) > div:nth-child(2) p {
    font-size: 0.82rem;
    margin: 20px 0 0 0;
  }
  .section3row1 > div:nth-child(2) > div:nth-child(2) a {
    font-size: 1rem;
  }

  .section3row2 > div:nth-child(1) p, .section3row2 > div:nth-child(1) span, .section3row2 > div:nth-child(1) span.underline{
    font-size: 1.6rem;
  }

  .section3row2 > div:nth-child(2){
    grid-auto-flow: row;
    padding: 1.5rem 1rem;
  }

  .section3row2 > div:nth-child(2) span{
    max-width: 300px !important;
    justify-self: center;
  }

  .section3row2 > div:nth-child(2) div p {
    font-size: 0.82rem;
    margin: 40px 0 20px 0;
  }

  .section3row2 > div:nth-child(2) div a {
    font-size: 1rem;
  }

  /** SECTION 4 **/
  .section4 .mainHeading {
    padding-top: 2rem;
  }

  .section4 > div:nth-child(2) {
    padding-left: 1rem;
  }

  .section4 > div:nth-child(2) .mainHeading {
    margin-top: 0;
  }

  /** SECTION 5 **/
  
  .section5 div:nth-child(1) .mainHeading, .section5 div:nth-child(1) .mainHeading .supportText, .section5 div:nth-child(1) .darkText{
    font-size: 1.6rem;
  }
  .section5 div:nth-child(1) p{
    font-size: 0.82rem;
  }
  .section5 div:nth-child(1) div p:nth-child(3){
    margin: 15px 0 10px 0;
  }
  .section5 div:nth-child(1) a{
    font-size: 1rem;
  }

  .section5 div:nth-child(2) {
    width: 100%;
  }

  .section5 div:nth-child(2) p{
    font-size: 0.82rem;
  }
  

  /** SECTION 6 **/
  .section6 div:nth-child(1) .mainHeading {
    margin-bottom: 1rem;
  }
  .section6 div:nth-child(1) .mainHeading, .section6 div:nth-child(1) .mainHeading .underline  {
    font-size: 1.6rem;
  }
  .section6 div:nth-child(1) p {
    font-size: 1rem;
  }
  .section6 div:nth-child(1) div {
    margin-top: 30px;
  }
  .section6 div:nth-child(1) a {
    margin-top: 1.5rem;
    font-size: 1rem;
    justify-self: center;
  }
  .section6 div:nth-child(1) .buttonStyle {
    margin-top: 2rem;
  }

  .section6 div:nth-child(2) div  {
    justify-self: center !important;
  }

  .section6 div:nth-child(2) .mainHeading, .section6 div:nth-child(2) .mainHeading .underline  {
    font-size: 1.6rem;
  }

  .section6 div:nth-child(2) p {
    font-size: 1rem;
  }
  .section6 div:nth-child(2) > .mainHeading {
    margin-top: 30px;
  }

  .section6 div:nth-child(2) a {
    margin-top: 1.5rem;
    font-size: 1rem;
    justify-self: center;
  }

  /** SECTION 7 **/

  .section7  {
    padding: 1rem;
  }
  .section7 p {
    font-size: 0.82rem;
  }

  .section7 a h3{
    font-size: 1.2rem;
    margin: 15px 0px;
  }

  .section7images > div {
      width: 100%;
  }

  .section7images > a:nth-child(odd) {
      margin: 0;
  }

  .section7 .section7images > a {
    transform: scale(1);
  }

  .section7 .section7images > a div img {
    max-width: 90px;
    max-height: 90px;
  }
}
