.section1 {
    background-color: var(--secondary-blue);
    color: white;
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 3rem;
    min-height: calc(100vh - 80px);
}

.section1 > a:last-child {
    /* position: absolute; */
    justify-self: center;
    align-self: flex-end;
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--third-blue);
}

.section1 > div:nth-child(1){
    text-align: center;
}

.section1 > div:nth-child(1) p{
    margin: 0;
}

.section1 > div:nth-child(2){
    padding: 1rem 30rem;
}

.blue {
    color: var(--third-blue);
}

.section1 > div:nth-child(1) > p:nth-child(1){
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.section1 > div:nth-child(1) > p:nth-child(2){
    font-size: 1.4rem;
    font-weight: 600;
}

.section2 {
    background-color: var(--third-blue);
    min-height: 10rem;
    display: grid;
    justify-items: center;
    align-items: center;;
    padding: 3rem 0;
}


.section2 p {
    color: var(--secondary-blue);
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    width: 50%;
}

.section3 {
    background-color: var(--secondary-blue);
    color: white;
    min-height: 10rem;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    justify-items: center;
    align-items: center;;
    padding: 3rem 0;
    font-size: 1.4rem;
    text-align: center;
}

.section3 > div:nth-child(1){
    max-height: 20rem;
    overflow: hidden;
    align-self: flex-start;
}

.section3 .quote1{
    background-color: var(--blue);
    padding: 0.5rem;
    border-radius: 10px;
    line-height: 1.4;
}

.section3 .byline1{
    background-color: var(--blue);
    font-size: 0.7rem;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0 auto;
}

.section3 .quote2{
    padding: 0.5rem;
    font-size: 1.7rem;
    line-height: 1.4;
    font-weight: 600;
    font-style: italic;
}

.section3 .byline2{
    font-size: 0.7rem;
    margin-bottom: 2rem;
}
.section3 > div:nth-child(2)> p:nth-child(2) {
    margin-top: 10px;
}

.section3 > div:nth-child(2) > p:nth-child(3){
    margin-top: 4rem;
    font-size: 1.7rem;
    line-height: 1.4;
    font-weight: 600;
    font-style: italic;
}

.section3 > div:nth-child(2) {
    padding: 0 4rem;
}

.section3 .button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    color: var(--secondary-blue);
    font-size: 1.6rem;
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;
}

.section3 .button:hover {
    transform: scale(1.1);
}

.section5 {
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.section5 h2 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.section5 > div:nth-child(1) h4 {
    color: var(--third-blue);
}

.section5 h3 {
    margin: 0;
}

.section5 h4 {
    text-decoration: underline;
    font-size: 2.2rem;
    margin-bottom: 0;
}

.green {
    color: #2cedb4;
}

.section5 > div:nth-child(1){
    background-color: var(--secondary-blue);
    padding: 1rem 3rem;
    display: grid;
    padding-bottom: 4rem;
}

.section5 > div:nth-child(1) a {
    padding: 10px 20px;
    background-color: var(--primary-blue);
    font-size: 1.6rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    justify-self: center;
}

.section5 > div:nth-child(2){
    background-color: var(--blue);
    padding: 1rem 3rem;
    padding-top: 17rem;
    padding-left: 4.5rem;
}

.section5 ul {
    list-style: none;
    margin-bottom: 2rem;
}

.section5 li {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  max-width: fit-content;
  line-height: 2;
  font-weight: bold;
}

.section5 li h3{
    font-weight: normal;
}

.section5 > div:nth-child(1) svg{
    color: var(--third-blue);
}
.section5 > div:nth-child(2) svg{
    color: #ff771d;
}

.section5img {
    top: 5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
}

/** SECTION 6 **/
.section6 {
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}

.section6 h2 {
    font-size: 4rem;
}

.section6 h3 {
    margin: 0;
}

.section6 h4 {
    text-decoration: underline;
    font-size: 2rem;
}

.section6 > div:nth-child(1){
    background-color: var(--secondary-blue);
    padding: 1rem 3rem;
    display: grid;
    padding-bottom: 4rem;
}

.section6 > div:nth-child(2){
    background-color: var(--blue);
    padding: 1rem 4rem;
    padding-top: 18rem;
    font-size: 3rem;
    font-weight: bold;
}

.section6 > div:nth-child(2) p {
    margin: 0;
    margin-bottom: 1rem;
}

.section6 ul {
    list-style: none;
    padding-bottom: 2rem;
}

.section6 li {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  align-items: center;
  max-width: fit-content;
}

.section6 li h3{
    font-weight: normal;
}

.section6 > div:nth-child(1) svg{
    color: var(--third-blue);
}
.section6 > div:nth-child(2) svg{
    color: #ff771d;
}

.section6img {
    top: 5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}

.section6 > div:nth-child(1) a {
    padding: 10px 20px;
    background-color: var(--primary-blue);
    font-size: 1.6rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    justify-self: center;
}

/** SECTION 7 **/
.section7 {
  color: var(--secondary-blue);
  background-color: white;
  padding: 1rem 3rem;
  text-align: center;
}

.section7 p {
    font-size: 1.2rem;
    margin: 0;
}

.section7 h3 {
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
    text-decoration: underline;
}

.section7images {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    padding-top: 2rem;
}

.section7images a:nth-child(odd) {
    margin-top:4rem;
    transform: scale(0.8);
}

.section7images a {
    transition: 0.3s;
}

.section7images a:nth-child(odd):hover {
    transform: scale(0.9);
}

.section7images a:hover {
    transform: scale(1.1);
}

/** SECTION 8 **/
.section8 {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: var(--fourth-blue);
    justify-content: center;
    text-align: center;
    padding: 3rem 4rem;
    align-items: center;
    color: white;
}

.section8 h2 {
    font-size: 4rem;
    margin-bottom: 0;
}

.section8 > div > span {
    height: 350px !important;
}

.section8 p {
    text-decoration: underline;
    font-size: 1.5rem;
    max-width: 300px;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.section8 a {
    font-weight: bold;
    background-color: white;
    color: var(--fourth-blue);
    padding: 10px 20px;
    font-size: 1.6rem;
    border-radius: 10px;

}

.darkBlue {
    color: var(--secondary-blue);
}

/** Section 9 **/
.section9 {
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-items: center;
    padding: 3rem 10rem;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    background-color: var(--primary-blue);
    grid-gap: 10rem;
}

.section9 > div:nth-child(1) {
    max-height: 20rem;
    overflow: hidden;
}

/** MOBILE **/
/* @media only screen and (max-width: 640px) { */
@media only screen and (max-width: 768px) {
    .section1, .section2, .section3, .section4, .section5, .section6, .section8 {
        grid-auto-flow: row;
        grid-template-columns: none;
    }

    .section1, .section2, .section3 > div, .section4, .section4 > div, .section5 > div, .section6 > div, .section8, .section7 {
        padding: 2rem 1rem;
    }

    /** SECTION 1 **/
    .section1 {
        padding: 2rem 1rem 8rem 1rem;
    }
    
    .section1 > div:nth-child(1) p, .section1 > div:nth-child(1) p span {
       font-size: 1.6rem !important;
    }
    .section1 > div:nth-child(1) p:last-child, .section1 > div:nth-child(1) p:last-child span {
       font-size: 0.88rem !important;
       margin: 20px 0;
    }
    .section1 > a svg{
        font-size: 2em ;
    }
    .section1 > div:nth-child(2) {
        padding: 1rem 2rem;
        width: 65%
    }

    /** SECTION 2 **/

    .section2 {
        padding: 3rem 1rem;
    }

    .section2 p {
        width: 100%;
        font-size: 1.2rem;
    }

    /** SECTION 3 **/
    .section3 > div:nth-child(1) {
        width: 100px;
    }

    .section3 > div:nth-child(2) {
        padding: 0 2rem;
        display: grid;
    }
    .section3 > div:nth-child(2) p:nth-child(1), .section3 > div:nth-child(2) p:nth-child(3){
        font-size: 1.2rem;
    }
    .section3 > div:nth-child(2) p:nth-child(4){
        margin: 25px 0;
        font-size: 1.2rem;
    }
    .section3 > div:nth-child(2) p:nth-child(5){
        margin: 10px 0 30px 0;
    }
    .section3 > div:nth-child(2) a{
        font-size: 0.88rem;
        margin: 10px 0 20px 0;
    }

    .section3 > div:nth-child(3) {
        width: 60%;
        padding-top: 3rem;
    }

    /** SECTION 5 **/
    .section5 > div:nth-child(1), .section5 > div:nth-child(2) {
        padding: 1rem;
    }

    .section5 > div:nth-child(1) {
        padding-bottom: 2rem;
    }

    .section5 > div:nth-child(2) {
        padding-top: 2rem;
    }

    .section5 > div:nth-child(1) h2 {
        margin-top: 0;
        margin-bottom: 0;
        /* font-size: 4rem; */
        font-size: 2.1rem;
    }
    .section5 > div:nth-child(1) span {
        font-size: 2.1rem;
    }

    .section5 > div:nth-child(1) h4 {
        margin: 25px 0 15px 0;
        font-size: 1.2rem;
    }
    .section5 > div:nth-child(1) ul li  {
        font-size: 0.7rem;
    }
    .section5 > div:nth-child(1) a  {
        font-size: 0.88rem;
    }

    .section5 > div:nth-child(2) h4 {
        margin: 25px 0 15px 0;
        font-size: 1.6rem;
    }

    .section5 > div:nth-child(2) ul li  {
        font-size: 0.7rem;
        margin-bottom: 2px;
    }

    .section5img {
        display: none;
    }

    .section5 ul {
        padding-left: 0;
    }

    /** SECTION 6 **/
    .section6 > div:nth-child(1), .section6 > div:nth-child(2) {
        padding: 3rem 1rem;
    }

    .section6 > div:nth-child(1) h2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2.1rem;
    }

    .section6 > div:nth-child(1) h4 {
        margin: 25px 0 15px 0;
        font-size: 1.6rem;
    }
    .section6 > div:nth-child(1) ul li {
        font-size: 0.7rem;
    }
    .section6 > div:nth-child(1) a {
        font-size: 0.88rem;
    }

    .section6 > div:nth-child(2) h4 {
        margin-top: 0;
    }
    .section6 > div:nth-child(2) p {
        font-size: 1.2rem;
    }

    .section6img {
        display: none;
    }

    .section6 ul {
        padding-left: 0;
    }

    /** SECTION 7 **/
    .section7 > p {
        font-size: 0.88rem;
    }
    .section7 > a h3 {
        font-size: 1.2rem;
        margin: 10px 0;
    }
    .section7images > div {
        width: 100%;
    }
    .section7images > a > div img {
        max-width: 90px;
        max-height: 90px;
    }
    
    .section7images > a:nth-child(odd) {
        margin-top: unset;
        transform: scale(1);
    }

    /** SECTION 8 **/
    .section8 {
        justify-items: center;
        padding-bottom: 3rem;
    }

    /* .section8 h2 {
        font-size: 3rem;
    } */

    .section8 > div:nth-child(1) {
        width: 60%;
    }
    .section8 > div:nth-child(2) h2 {
        font-size: 1.6rem;
    }
    .section8 > div:nth-child(2) p {
        font-size: 0.88rem;
    }
    .section8 > div:nth-child(2) a {
        font-size: 0.88rem;
    }

    .section8 > div:nth-child(3) {
        display: none;
    }

    /** SECTION 9 **/
    .section9 {
        padding: 1rem;
        grid-gap: 0;
        grid-template-columns: none;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
    .section9 p {
        font-size: 1.2rem;
    }

    .section9 > div:nth-child(1) {
        width: 100px;
    }
    .section9 > div:nth-child(1) img {
        min-width: 60px  !important;
    }
}